.dropbtn {
  border: none;
  background-color: rgb(180, 205, 212);
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: rgb(191, 211, 217);
}
a:link {
  color: black;
}
a:visited {
  color: black;
  text-decoration: none;
}
.dropdown:hover .dropdown-content {display: block;}
h1 {
  text-align: center;
  font-size: 70px;
}
body {
  font-family: 'Arima Madurai', cursive;
  text-align: center;
}
p {
  font-size: 20px;
}
img {
  height: 750px;
  width: 1750px;
}
.table1 {
  background-color: rgb(180, 205, 212);
  border: 1px solid black;
}
.home {
  width: 70px;
}
td {
  width: 2000px;
  text-align: left;
  font-size: 20px;
}
.square {
  height: 500px;
  width: 500px;
}
.table {
  background-color: white;
}
